/* App.css */
.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111; /* Default sidebar color */
  color: white;
  padding: 20px;
}

.main-content {
  flex:0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* width: 10%; */
}

.search-bar {
  margin-bottom: 20px;
}

.song-list {
  flex: 1;
  overflow-y: auto;
}

.player {
  margin-top: 20px;
}
